# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.blend1

forgotten-angel/savegame.pkl

shattered/map/data/*
shattered/models/frames/*
shattered/vidcap-*/

pyweek26/tools/generated_section_models/*
pyweek26/savegame/*.pkl
pyweek26/models/*/*_*.pkl

pyweek27/progress.json
pyweek27/save.json
pyweek27/settings.json
pyweek27/server/uploads
pyweek27/server/gallery
gallery

